body{
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
}


/* esto es oro,
   sirve para que no se modifique
   al resizear la pag
 */
.container {
    max-width: 1400px;
    height: 800px;
    margin: 0 auto;
}


.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink:0;
    min-width: 0;
    color: white;
    padding-bottom: 0.5%;
}
.logo{
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: start;
    align-self: center;
    margin-left: 10px;
    margin-top: -25px;
}

.links{
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: center;
    gap: 30px;
    margin-left: auto;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
    gap: 10px;
    margin-right: 10px;
    font-size: 15px;
}


.title{
    display: flex;
    font-size: 50px;
    flex-direction: column;
    align-items: center;
    border: solid 2px black;
    border-radius: 20px;
    margin: 10px 25%;
    padding-left: 4%;
    padding-right: 4%;
    background-color: saddlebrown;
}

.fontheader{
    background: #1f2937;
    padding-bottom: 25px;
    box-shadow: 0 0 25px saddlebrown;
    background-size: cover;
    border-bottom: solid 10px black;
}

.imgs{
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


.img{
    border-radius: 20px;
}
.hovered{
    border: 4px solid saddlebrown;
}

.description{
    background: #e5e7eb;
    padding: 90px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 10;
    margin-left: auto;
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
    border-bottom: solid 4px #e5e7eb;
}

.fondooo{
    background-image: url("fotos/fondoempanada.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.Ingredients{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: solid 3px black;
}

.ingTitle{
    border: solid 1px black;
    border-radius: 20px;
    font-size: 40px;
    font-weight: bold;

    margin-top: 20px;
    background: saddlebrown;
    padding: 2%;
}

.ing{
    border: solid 1px black;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
    background: saddlebrown;
    padding: 2%;
}

.spacing {
    margin-top: 20px;
}

ul li{
    margin-bottom: 5px;
    padding-right: 4%;
}


.Steps{
    border: solid 1px black;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
    background: #e59130;
    padding: 2%;
}

ol li{
    margin-bottom: 15px;
    padding-right: 4%;
}

.poems{
    display: flex;
    align-items: start;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    gap: 10px;
}

.eng, .esp{
    font-size: 25px;
    display: flex;
    background: mistyrose;
    background-size: cover;
    background-blend-mode: soft-light;
    border: 10px solid saddlebrown;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px black;
}

.footer{
    background: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.up, .home{
    border: solid 1px saddlebrown;
    padding: 10px;
    border-radius: 2px;

}
.up{
    margin-right: 450px;
}